<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.confucius.Dao.My.MedicineMapper">
    <resultMap id="BaseResultMap" type="com.education.confucius.Entity.My.Medicine.MedicineSellingRecord">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="record_id" jdbcType="VARCHAR" property="recordId" />
        <result column="num" jdbcType="BIGINT" property="num" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="base_column">
        record_id,create_time,update_time
    </sql>

    <insert id="addRecord" parameterType="com.education.confucius.Entity.My.Medicine.MedicineSellingRecord">
        insert into medicine_selling_record(record_id, num, create_time) values (#{recordId}, #{num}, #{createTime})
    </insert>


</mapper>