<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.confucius.Dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.education.confucius.Entity.User.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="passport" jdbcType="VARCHAR" property="passport" />
        <result column="birth_time" jdbcType="TIMESTAMP" property="birthTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <select id="getUserByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            *
        from zero_user
        where user_name = #{userName,jdbcType=VARCHAR}
    </select>
</mapper>